.main-bg{
  height: 300px;
  background-image: url('./봉사.jpg');
  background-size: cover;
  background-position: center;
}
.App {
  text-align: center;
  
}
.Wrapper{
  max-width: 1365px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (min-width: 1170px) {
  section {
    padding: 1rem calc(50% - 585px);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

